.results{
    width: 90vw;
    max-width: 700px;
    height: 65vh;
    background-color: var(--LightNavi);
    padding:1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow-y: auto;
    box-sizing: border-box;
}
.results>h2{
    font-weight: 400;
    font-size: 1.3rem;
}
.results>h1{
    font-weight: 400;
    text-align: center;
}
.analisis{
    display: flex;
    justify-content: center;
}
.analisis>table>thead>tr>th{
    font-weight: 500;
    text-align: center;
    background-color: var(--ActiveYellow);
    color:var(--DarkNavi);
    padding:5px;
}
.analisis>table>tbody>tr>td{
    text-align: center;
    padding: 5px;
}
.analisis>table>tbody>tr:nth-child(odd){
    background-color: rgba(255,255,255,.3);
}
.analisis>table>tbody>tr:nth-child(even){
    background-color: rgba(255,255,255,.1);
}
.win{
    background-color: green !important;

}