:root{
    --Green:#049C50;
    --ActiveYellow:#E1F336;
    --Red:#9C1100; 
    --DarkNavi: #1D2339;
}
.modal{
    position: absolute;
    width: 18rem;
    height: 15rem;
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index:10;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: Monserrat, sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "label input input input"
    "Cancel Cancel Create Create "
    ;
}
.title,.btnCancel,.btnCreate,.label,.input{
    justify-self: center;
    align-self: center;
}
.btnCancel, .btnCreate{
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    border: none;
    padding: 0.3rem;
    border-radius: 1.5rem;
    background-color: transparent;
}

.title{
    grid-area: titulo;
    font-size: 2rem;
    margin: 0;
    
}
.btnCancel{
    grid-area:Cancel;   
    border: 2px solid var(--Red);
    color: var(--Red);
    font-weight:400;
}
.btnCreate{
    grid-area: Create;
    background-color: var(--ActiveYellow);
    color: var(--DarkNavi);
    font-weight: 800;
}
.label{
    grid-area: label;
    font-size: 1.5rem;
    justify-self: start;
}
.input{
    grid-area: input;
    justify-self: start;
    font-size: 1rem;
    height: 1.5rem;
    width: 10rem;
}
