.nav{
    grid-area: navigation;
    display: grid;
    grid-template-rows:auto 3rem;
    grid-template-areas:
    "body"
    "tabHeaders"
    ;
}
.tabHeaders{
    grid-area: tabHeaders;
    display: flex;
    justify-content: space-evenly;
}
.tabBody{
    grid-area: body;
    display: grid;
    width: 100%;
}
.diagrams{
    display:grid;
    grid-template-rows: 3rem auto;
    grid-template-areas: 
    "selector"
    "workbench"
    ;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:5rem;
    height: 3rem;
    font-size: 1rem;
    color:rgba(255,255,255,0.5);
    background-color: transparent;
    border:none; 
    box-sizing: border-box;
}
.btn>img{
    width: 24px;
    height: 24px;
}
.labelNav{
    display:block;
    text-transform: capitalize;
    transition: all .3s;
}
.active{
    color:var(--ActiveYellow);
}
/*estilos del modal para nuevo diagrama--------------------------*/
