.workbench{
    flex-basis: 0;
    flex-grow: 1;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding:1rem;
    box-sizing: border-box;
}
.options,.diagram{
    flex-basis: 0;
    flex-grow: 1;
    box-sizing: content-box;
}
.options{
    background-color: var(--LightNavi);
}