.workbench{
    grid-area: workbench;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.options,.diagram{
    flex-basis: 0;
    flex-grow: 1;
    box-sizing: content-box;
}
.options{
    background-color: var(--LightNavi);
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}
.options>span{
    font-size: 1.2rem;
    font-weight: 500;
    
}
.diagram{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.2rem 2.2rem auto;
    grid-template-areas: 
        "title title title"
        "vpn . interest"
        "cashflow cashflow cashflow"
    ;   
}
.vpn>p, .interest>p{
    margin: 0;
    font-size: 1rem;
}
.vpn,.interest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    grid-area: title;
    justify-self: center;
}
.vpn{
    grid-area: vpn;
    justify-self:center ;
}
.interest{
    grid-area: interest;
    justify-self:center ;
}
/*.cashflow{
    grid-area: cashflow;
    justify-self:center ;
}*/